/*This CSS is shared between v_index_index and v_users_profile because the pages are essentailly the same*/

h1 {
	margin-top: 20px;
	font-size: 20px;
}

#app_buttons {
	margin-top: 40px;
}

#app_buttons a, #app_buttons a:link, #app_buttons a:visited, #app_buttons a:active {
	text-decoration: none;
	color: #191919;	
	background-color: #DFE2DB;
	padding: 45px;
	margin: 0px 2px;	
}

#app_buttons a:hover {
	text-decoration: none;
	color: #191919;
	background-color: #FFF056;	
	padding: 44px;
}

