/*This CSS is shared between v_index_index and v_users_profile because the pages are essentially the same*/

h1 {
	margin-top: 20px;
	font-size: 20px;
}

#app_buttons a, #app_buttons a:link, #app_buttons a:visited, #app_buttons a:active {
	text-decoration: none;
	color: #191919;	
	background-color: #DFE2DB;
	padding: 45px;
	display: inline-block;
	margin: 0px 2px 5px 2px;	
}

#app_buttons a:hover {
	background-color: #FFF056;	
	padding: 44px;
}

#welcome_wrapper {
	width:50%;
	height: 200px;
	padding: 0px;
	margin: 0px;
}

#registration_wrapper {
	width: 50%;
	float:right;
	padding-top: 40px;
}

#registration_wrapper a, #registration_wrapper a:link, #registration_wrapper a:visited, #registration_wrapper a:active {
	text-decoration: none;
	color: #191919;	
	background-color: #DFE2DB;
	padding: 10px;
	display: inline-block;
}

#registration_wrapper a:hover {
	background-color: #FFF056;
}

/* turn off sub_menu on index and profile pages to avoid redundant design*/
div.sub_menu {
	display: none;
}

