/*need to qualify using .index_body to separate CSS of body links from CSS of header links*/

.index_body h1 {
	margin-top: 20px;
	font-size: 20px;
}

.index_body #app_buttons {
	margin-top: 40px;
}

.index_body a, .index_body a:link, .index_body a:visited, .index_body a:active {
	text-decoration: none;
	color: #191919;	
	background-color: #DFE2DB;
	padding: 45px;
	margin: 0px 2px;	
}

.index_body a:hover {
	text-decoration: none;
	color: #191919;
	background-color: #FFF056;	
	padding: 44px;
}
